<a href="https://colab.research.google.com/github/wantfree8937/wantfree8937/blob/main/%EC%BB%B4%EA%B3%B5%EC%9E%85%EB%AC%B8%EA%B3%BC%EC%A0%9C_11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# (실습) 파일

**기본 설정**

파일 저장 경로와 파일 서버 주소를 지정에 필요한 기본 설정을 지정한다.

In [1]:
from pathlib import Path
from urllib.request import urlretrieve

데이터가 저장된 텍스트 파일 서버 주소는 다음과 같다.

In [2]:
base_url = "https://raw.githubusercontent.com/codingalzi/pybook/master/jupyter-book/data/"

현재 작업 디렉토리의 `data` 하위 디렉토리에 파일을 다운로드해서 저장할 준비를 한다.

In [3]:
# 저장위치 지정과 생성
data_path = Path() / "data"
data_path.mkdir(parents=True, exist_ok=True)

`myWget()` 함수는 파일 서버에서 지정된 파일을 동일한 파일명으로 지정된 디렉토리에 저장한다.

In [4]:
def myWget(filename):
    # 다운로드 대상 파일 경로
    file_url = base_url + filename

    # 저장 경로와 파일명
    target_path = data_path / filename

    return urlretrieve(file_url, target_path)

**쇼핑몰 파일 관련**

**문제 1**

`shopA.txt` 파일은 쇼핑몰A에서 판매하는 상품의 가격을 담고 있음을 확인해보자.
먼저 해당 파일을 다운로드 한다.

In [5]:
myWget("shopA.txt")

(PosixPath('data/shopA.txt'), <http.client.HTTPMessage at 0x7fdb9408a950>)

이제 파일 전체 내용을 출력하는 코드를 작성하라.

힌트: `with-as` 명령문, `open()` 함수, `readlines()` 또는 `read()` 파일 메서드.

In [6]:
# 코드를 작성하세요.

with open("data/shopA.txt", mode="r") as f:
  lines = f.read()

print(lines)

#쇼핑몰 A

우유 2540원
계란 7480원
생수 980원
짜장라면 3220원
두부 1450원
콩나물 1680원
김 5480원
닭고기 5980원
식빵 2480원
바나나 4980원
오레ㄴ지 990원
카레 2480원
만두 6980원
어묵 7980원
참치 11880원
김치 7980원
간장 10800원

**문제 2**

`shopA.txt` 파일의 내용을 확인하면, 오타가 있다. 
'오레ㄴ지' 를 '오렌지'로 변경한 후에
`shopA.txt` 파일을 열어 오타가 수정되었는지를 확인하여라.  

힌트: 파일의 `read()` 메서드, 문자열의 `replace()` 메서드

* 파일 읽기: `read()` 메서드 활용

In [7]:
# 파일내용을 하나의 문자열로 생성하는 코드를 작성하라.
with open("data/shopA.txt", mode="r") as f:
  lines = f.read()
lines

'#쇼핑몰 A\n\n우유 2540원\n계란 7480원\n생수 980원\n짜장라면 3220원\n두부 1450원\n콩나물 1680원\n김 5480원\n닭고기 5980원\n식빵 2480원\n바나나 4980원\n오레ㄴ지 990원\n카레 2480원\n만두 6980원\n어묵 7980원\n참치 11880원\n김치 7980원\n간장 10800원'

* 오타 수정: `replace()` 문자열 메서드 활용

In [8]:
# 오타를 수정하는 코드를 작성하라.
fix_lines = lines.replace("오레ㄴ지","오렌지")

* 파일 저장

In [9]:
# 오타가 수정된 문자열을 파일로 저장하는 코드를 작성하라.

with open("data/shopA.txt", mode="w") as f:
  f.write(fix_lines)

* 파일 내용 확인

In [10]:
# 오타가 수정되었음을 확인하는 코드를 작성하라.

with open("data/shopA.txt", mode="r") as f:
  new_line = f.read()
print(new_line)

#쇼핑몰 A

우유 2540원
계란 7480원
생수 980원
짜장라면 3220원
두부 1450원
콩나물 1680원
김 5480원
닭고기 5980원
식빵 2480원
바나나 4980원
오렌지 990원
카레 2480원
만두 6980원
어묵 7980원
참치 11880원
김치 7980원
간장 10800원

**문제 3**

상품명과 가격을 키-값의 쌍으로 갖는 아래 모양의 딕셔너리를 만들어라.
단, 오타가 수정된 파일을 이용해야 한다.

```python
{'우유': 2540,
 '계란': 7480,
 '생수': 980,
 '짜장라면': 3220,
 '두부': 1450,
 '콩나물': 1680,
 '김': 5480,
 '닭고기': 5980,
 '식빵': 2480,
 '바나나': 4980,
 '오렌지': 990,
 '카레': 2480,
 '만두': 6980,
 '어묵': 7980,
 '참치': 11880,
 '김치': 7980,
 '간장': 10800}
```

In [11]:
with open("data/shopA.txt") as f:
  results_dict = {}
  for line in f:
    if line != "\n":          # '\n'이 있으면 변수 두개 지정시 오류
      name, price = line.strip().split()
      if name != "#쇼핑몰":        # '#쇼핑몰 A'제거 
        results_dict[name] = price
print(results_dict)

{'우유': '2540원', '계란': '7480원', '생수': '980원', '짜장라면': '3220원', '두부': '1450원', '콩나물': '1680원', '김': '5480원', '닭고기': '5980원', '식빵': '2480원', '바나나': '4980원', '오렌지': '990원', '카레': '2480원', '만두': '6980원', '어묵': '7980원', '참치': '11880원', '김치': '7980원', '간장': '10800원'}

**문제 4**

`shopA.txt` 와 같이 상품명과 가격으로 이루어진 쇼핑 리스트가 포함된 파일의 이름을 입력받으면
상품명과 가격을 각각 키와 값으로 갖는 사전 객체를 반환하는 함수 `shopping()` 을 구현하라.

힌트: 문제 3을 해결하기 위해 작성한 코드를 이용한다.

In [12]:
# 아래 코드를 완성하라. 

def shopping(shop_file):
    shop_dict = {} # 생성할 사전 객체

    with open("data/"+ shop_file) as f:
      for line in f:
        if line != "\n":
          name, price = line.strip().split()
          if name != "#쇼핑몰":
            shop_dict[name] = price

    return shop_dict

print(shopping("shopA.txt"))

{'우유': '2540원', '계란': '7480원', '생수': '980원', '짜장라면': '3220원', '두부': '1450원', '콩나물': '1680원', '김': '5480원', '닭고기': '5980원', '식빵': '2480원', '바나나': '4980원', '오렌지': '990원', '카레': '2480원', '만두': '6980원', '어묵': '7980원', '참치': '11880원', '김치': '7980원', '간장': '10800원'}

**문제 5**

쇼핑 리스트와 상품을 인자로 지정하면 상품의 가격을 반환하는 함수 `item_price()` 를 구현하라.

힌트: `shopping()` 함수를 이용한다.

In [13]:
# 함수를 완성하라.

def item_price(shop_file, item):
   return shopping(shop_file)[item]

print(item_price("shopA.txt", '김치'))

7980원

**문제 6**

`shopB.txt` 파일은 쇼핑몰B에서 판매하는 상품의 가격을 담고 있으며,
`shopA.txt` 파일과 동일한 방식으로 다운로드할 수 있다.

In [14]:
myWget("shopB.txt")

(PosixPath('data/shopB.txt'), <http.client.HTTPMessage at 0x7fdb9408b1f0>)

사용자가 상품을 입력하면, 쇼핑몰A와 쇼핑몰B 중 어느 쇼핑몰에서 구입하는 것이 얼마나 저렴한지를 보여주는
함수 `price_comparison()`를 작성하라.

In [15]:
# 코드를 완성하라.

def price_comparison(item):
  itemA = item_price("shopA.txt",item)
  itemB = item_price("shopB.txt",item)
  itemA_int = int(itemA.replace("원",""))
  itemB_int = int(itemB.replace("원",""))
  if itemA_int < itemB_int:
    return "쇼핑몰A가 더 저렴함. 가격: " + itemA
  else:
    return "쇼핑몰B가 더 저렴함. 가격: " + itemB

print(price_comparison('김치'))

쇼핑몰A가 더 저렴함. 가격: 7980원

**다이빙 기록 관련**

**문제 7**

[5미터 다이빙 기록 에서 등수를 확인하는 작업](https://codingalzi.github.io/pybook/files.html#sec-exp-diving-5m)과 
동일한 작업을 10미터 다이빙 기록에 대해 진행하라.

In [16]:
# 코드를 작성하라.
myWget("results10m.txt")

(PosixPath('data/results10m.txt'), <http.client.HTTPMessage at 0x7fdb9408b4c0>)

In [17]:
scores_10m = []

with open("data/results10m.txt", "r") as f:
  for line in f:
    s_10m = line.split()[1]
    try:
      scores_10m.append(float(s_10m))
    except:
      continue

In [18]:
scores_10m

[9.11, 8.35, 7.12, 8.65, 9.31, 8.71, 7.33, 9.11, 8.75, 8.39]

In [19]:
set_scores_10m = list(set(scores_10m))  # 중복제거
set_scores_10m.sort(reverse = True)
print("1, 2, 3등의 점수는 다음과 같습니다.\n")
print(f"1등: {set_scores_10m[0]}")
print(f"2등: {set_scores_10m[1]}")
print(f"3등: {set_scores_10m[2]}")

1, 2, 3등의 점수는 다음과 같습니다.

1등: 9.31
2등: 9.11
3등: 8.75

In [20]:
scores_10m = {}

with open("data/results10m.txt", "r") as f:
  for line in f:
    name, s_10m = line.split()[:2]

    try:
      scores_10m[name] = float(s_10m)
    except:
      continue

In [21]:
scores_10m

{'권준기': 9.11,
 '김세윤': 8.35,
 '나진서': 7.12,
 '마동탁': 8.65,
 '서길석': 9.31,
 '이준용': 8.71,
 '이차승': 7.33,
 '차승연': 9.11,
 '표방호': 8.75,
 '한석준': 8.39}

In [22]:
sorted_scores_10m = sorted(scores_10m.items(), key = lambda item: item[1], reverse=True)
sorted_scores_10m

[('서길석', 9.31),
 ('권준기', 9.11),
 ('차승연', 9.11),
 ('표방호', 8.75),
 ('이준용', 8.71),
 ('마동탁', 8.65),
 ('한석준', 8.39),
 ('김세윤', 8.35),
 ('이차승', 7.33),
 ('나진서', 7.12)]

In [23]:
print("5미터 다이빙 경기 결과\n")
item_list = []    # 중복 검사용

count = 1
for item in sorted_scores_10m:
  if item[1] in item_list:
    count -= 1
  item_list.append(item[1])
  print(f"{count:>3}등: {item[0]} {item[1]}")
  count += 1

5미터 다이빙 경기 결과

  1등: 서길석 9.31
  2등: 권준기 9.11
  2등: 차승연 9.11
  3등: 표방호 8.75
  4등: 이준용 8.71
  5등: 마동탁 8.65
  6등: 한석준 8.39
  7등: 김세윤 8.35
  8등: 이차승 7.33
  9등: 나진서 7.12

**문제 8**

5미터 다이빙 기록과 10미터 다이빙 기록의 합에 대해 등수를 확인하는 코드를 작성하라.

In [37]:
# 코드를 작성하라.
myWget("results5m.txt")
myWget("results10m.txt")

(PosixPath('data/results10m.txt'), <http.client.HTTPMessage at 0x7fdb9408ae90>)

In [45]:
scores_5m = {}

with open("data/results5m.txt", "r") as f:
  for line in f:
    name, s_5m = line.split()[:2]

    try:
      scores_5m[name] = float(s_5m)
    except:
      continue

In [46]:
scores_10m = {}

with open("data/results10m.txt", "r") as f:
  for line in f:
    name, s_10m = line.split()[:2]

    try:
      scores_10m[name] = float(s_10m)
    except:
      continue

In [47]:
scores_5m

{'권준기': 7.13,
 '김세윤': 8.55,
 '나진서': 9.02,
 '마동탁': 8.35,
 '서길석': 7.86,
 '이준용': 8.17,
 '이차승': 9.33,
 '차승연': 7.11,
 '표방호': 8.57,
 '한석준': 8.93}

In [48]:
scores_10m

{'권준기': 9.11,
 '김세윤': 8.35,
 '나진서': 7.12,
 '마동탁': 8.65,
 '서길석': 9.31,
 '이준용': 8.71,
 '이차승': 7.33,
 '차승연': 9.11,
 '표방호': 8.75,
 '한석준': 8.39}

In [72]:
total_scores = {}
for name in scores_5m:
  total_scores[name] = scores_5m[name] + scores_10m[name]
total_scores

{'권준기': 16.24,
 '김세윤': 16.9,
 '나진서': 16.14,
 '마동탁': 17.0,
 '서길석': 17.17,
 '이준용': 16.880000000000003,
 '이차승': 16.66,
 '차승연': 16.22,
 '표방호': 17.32,
 '한석준': 17.32}

In [74]:
sorted_total_scores = sorted(total_scores.items(), key = lambda item: item[1], reverse=True)
sorted_total_scores

[('표방호', 17.32),
 ('한석준', 17.32),
 ('서길석', 17.17),
 ('마동탁', 17.0),
 ('김세윤', 16.9),
 ('이준용', 16.880000000000003),
 ('이차승', 16.66),
 ('권준기', 16.24),
 ('차승연', 16.22),
 ('나진서', 16.14)]

In [78]:
print("토탈 다이빙 경기 결과\n")
item_list = []    # 중복 검사용

count = 1
for item in sorted_total_scores:
  if item[1] in item_list:
    count -= 1
  item_list.append(item[1])
  print(f"{count:>3}등: {item[0]} {round(item[1],2)}")
  count += 1

토탈 다이빙 경기 결과

  1등: 표방호 17.32
  1등: 한석준 17.32
  2등: 서길석 17.17
  3등: 마동탁 17.0
  4등: 김세윤 16.9
  5등: 이준용 16.88
  6등: 이차승 16.66
  7등: 권준기 16.24
  8등: 차승연 16.22
  9등: 나진서 16.14