<a href="https://colab.research.google.com/github/wantfree8937/wantfree8937/blob/main/%ED%8C%8C%EC%9D%B4%EC%8D%AC%EB%8D%B0%EC%9D%B4%ED%84%B0%EA%B3%BC%EC%A0%9C8(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# (실습) 데이터프레임 핵심

In [1]:
import numpy as np
import pandas as pd

**문제 1**

아래의 딕셔너리 `data`를 이용하여 데이터프레임`df1`를 생성하라.

In [2]:
data = {'A': [0, 5, 15, 20, 25, 30, 35, 40],
        'B' : [1, 2, 3, 4, 5, 6, 7, 8]}

In [10]:
# None 을 적절한 표현식으로 대체하라.

df1 = pd.DataFrame(data)
df1

    A  B
0   0  1
1   5  2
2  15  3
3  20  4
4  25  5
5  30  6
6  35  7
7  40  8

**문제 2**

아래의 값을 가지는 `C`와 `D`열을 `df1`에 추가하라.

In [11]:
C = [3, 3, 3, 3, 3, 3, 3, 3]
D = [4, 2, 9, 1, 20, 3, 15, 17]

In [21]:
# pass 를 적절한 명령문으로 대체하라.

df1['C']=C
df1['D']=D

df1

    A  B  C   D
0   0  1  3   4
1   5  2  3   2
2  15  3  3   9
3  20  4  3   1
4  25  5  3  20
5  30  6  3   3
6  35  7  3  15
7  40  8  3  17

**문제 3**

`df1`의 각 열의 합을 계산하는 한줄 코드를 작성하라.

In [24]:
# pass 를 한줄 코드로 대체하라.

df1.sum()

A    170
B     36
C     24
D     71
dtype: int64

**문제 4**

`df1`의 각 행의 합을 계산하는 한줄 코드를 작성하라.

In [27]:
# pass 를 한줄 코드로 대체하라.

df1.sum(axis=1)

0     8
1    12
2    30
3    28
4    53
5    42
6    60
7    68
dtype: int64

**문제 5**

`A`, `B`, `D`열에서 행 인덱스가 2, 3, 4인 자료를 추출하는
한줄 코드를 작성하라.

In [28]:
# pass 를 한줄 코드로 대체하라.

df1.iloc[[2,3,4],[0,1,3]]

    A  B   D
2  15  3   9
3  20  4   1
4  25  5  20

**문제 6**

3) `df1`에 `K`열을 추가하여라. 이때, `K`열의 각 항목은 `B`열의 각 항목 곱하기 3이다.

In [30]:
# pass 를 한줄 코드로 대체하라.

df1['K'] = df1['B']*3

df1

    A  B  C   D   K
0   0  1  3   4   3
1   5  2  3   2   6
2  15  3  3   9   9
3  20  4  3   1  12
4  25  5  3  20  15
5  30  6  3   3  18
6  35  7  3  15  21
7  40  8  3  17  24

**문제 7**

`df1`에 `R`열을 추가하여라. 
이때, `R`열의 각 항목은 균등분포에 따라 추출된 `[0, 1)` 구간의 난수이어야 한다. 

힌트: `numpy.random.rand()`

In [38]:
# pass 를 한줄 코드로 대체하라.

df1['R'] = np.random.rand(8)

df1

    A  B  C   D   K         R
0   0  1  3   4   3  0.912210
1   5  2  3   2   6  0.558584
2  15  3  3   9   9  0.054103
3  20  4  3   1  12  0.247589
4  25  5  3  20  15  0.959385
5  30  6  3   3  18  0.780921
6  35  7  3  15  21  0.736001
7  40  8  3  17  24  0.488325

**문제 8**

`df1`에서 `C`열에 인덱스가 1, 3, 5인 자료의 값을 6으로 변경하여라.

In [45]:
# pass 를 한줄 코드로 대체하라.

df1.loc[[1,3,5], 'C'] = 6

df1

    A  B  C   D   K         R
0   0  1  3   4   3  0.912210
1   5  2  6   2   6  0.558584
2  15  3  3   9   9  0.054103
3  20  4  6   1  12  0.247589
4  25  5  3  20  15  0.959385
5  30  6  6   3  18  0.780921
6  35  7  3  15  21  0.736001
7  40  8  3  17  24  0.488325

**성적 데이터 분석**

학생 100명의 국어, 영어, 수학, 사회, 과학 점수가 들어 있는
`score.txt` 파일을 다운로드 한다.

- 다운로드 경로 지정

In [46]:
from pathlib import Path

data_path = Path() / "data"

data_path.mkdir(parents=True, exist_ok=True)

- 다운로드 함수 선언

In [47]:
from urllib.request import urlretrieve

# 파일 서버 기본 주소
base_url = "https://raw.githubusercontent.com/codingalzi/datapy/master/jupyter-book/data/"

def myWget(filename):
    # 다운로드 대상 파일 경로
    file_url = base_url + filename
    
    # 저장 경로와 파일명
    target_path = data_path / filename
    
    return urlretrieve(file_url, target_path)

* `score.txt` 파일 다운로드

In [48]:
myWget("score.txt")

(PosixPath('data/score.txt'), <http.client.HTTPMessage at 0x7f12bb6d62c0>)

파일의 내용을 데이터프레임으로 다음과 같이 불러온다.

In [55]:
df_score = pd.read_csv(data_path / 'score.txt', header=0)

In [56]:
df_score

    # 국어   영어   수학   사회   과학
0     15   16   21    0   14
1     96   91   14   11   75
2     49   63   15   18   61
3     54    4   20   21    1
4     46    8    7   23    9
..   ...  ...  ...  ...  ...
95    69   61   11   28   97
96    41   97   16   13    8
97     0   84   18    9   15
98    19   11   15    2   90
99     0    7   33    7   58

[100 rows x 5 columns]

**문제 9**

첫째 열의 이름인 `# 국어` 를 `국어` 수정하라.

In [58]:
# pass 를 적절한 코드로 대체하라.

df_score.rename(columns={"# 국어":"국어"}, inplace = True)

df_score

    국어   영어   수학   사회   과학
0   15   16   21    0   14
1   96   91   14   11   75
2   49   63   15   18   61
3   54    4   20   21    1
4   46    8    7   23    9
..  ..  ...  ...  ...  ...
95  69   61   11   28   97
96  41   97   16   13    8
97   0   84   18    9   15
98  19   11   15    2   90
99   0    7   33    7   58

[100 rows x 5 columns]

**문제 10**

`df_score`의 처음부터 5개의 행을 확인하라.

힌트: `head()` 메서드

In [59]:
# pass 를 한줄 코드로 대체하라.

df_score.head()

   국어   영어   수학   사회   과학
0  15   16   21    0   14
1  96   91   14   11   75
2  49   63   15   18   61
3  54    4   20   21    1
4  46    8    7   23    9

**문제 11**

`df_score`의 마지막 10개의 행을 확인하라.

In [61]:
# pass 를 한줄 코드로 대체하라.

df_score.tail(10)

    국어   영어   수학   사회   과학
90  13   65   93   15   72
91  92   46   29   28    9
92  20   33   43    1   34
93  58   30    6   19   20
94  57   50   53   25   13
95  69   61   11   28   97
96  41   97   16   13    8
97   0   84   18    9   15
98  19   11   15    2   90
99   0    7   33    7   58

**문제 12**

국어 점수가 90점 이상인 학생들의 데이터만 추출하라.

In [64]:
# pass 를 한줄 코드로 대체하라.

df_score[df_score["국어"]>90]

    국어   영어   수학   사회   과학
1   96   91   14   11   75
9   94   40    5   23   90
13  93   58   29   22   77
22  95   36   21    5   17
31  93   52   19   18   85
50  93   49   87   14   68
58  99   85   62   38   99
61  93   11   50   31   33
79  99   22   63    3   27
91  92   46   29   28    9

**문제 13**

각 과목에서 10점이하의 값들은 `np.nan`으로 변경하여라.

In [66]:
# pass 를 한줄 코드로 대체하라.

df_score[df_score<10] = np.nan

df_score

      국어    영어    수학    사회    과학
0   15.0  16.0  21.0   NaN  14.0
1   96.0  91.0  14.0  11.0  75.0
2   49.0  63.0  15.0  18.0  61.0
3   54.0   NaN  20.0  21.0   NaN
4   46.0   NaN   NaN  23.0   NaN
..   ...   ...   ...   ...   ...
95  69.0  61.0  11.0  28.0  97.0
96  41.0  97.0  16.0  13.0   NaN
97   NaN  84.0  18.0   NaN  15.0
98  19.0  11.0  15.0   NaN  90.0
99   NaN   NaN  33.0   NaN  58.0

[100 rows x 5 columns]

**문제 14**

각 열에 있는 결측치의 수를 확인하라.

In [70]:
# pass 를 한줄 코드로 대체하라.

df_score.isnull().sum()

국어      5
 영어    11
 수학    12
 사회    26
 과학    11
dtype: int64

**문제 15**

결측치의 개수가 20%인 이하인 열들만 담은 데이터프레임`df_score_20`을 만들어라.

In [78]:
# pass 와 Noned 을 각각 적절한 코드와 표현식으로 대체하라.

df_score_20 = df_score.drop(columns = df_score.columns[df_score.isnull().sum()>20], axis=1)

df_score_20

      국어    영어    수학    과학
0   15.0  16.0  21.0  14.0
1   96.0  91.0  14.0  75.0
2   49.0  63.0  15.0  61.0
3   54.0   NaN  20.0   NaN
4   46.0   NaN   NaN   NaN
..   ...   ...   ...   ...
95  69.0  61.0  11.0  97.0
96  41.0  97.0  16.0   NaN
97   NaN  84.0  18.0  15.0
98  19.0  11.0  15.0  90.0
99   NaN   NaN  33.0  58.0

[100 rows x 4 columns]